*, ::after, ::before {
    box-sizing: border-box;
}

.section-divider{
	background-color: rgba(0,0,0,.1);
    border: 0;
    height: 1px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.product-form-section h1:before, .product-form-section h2:before{
	content: '';
	display: none;
}


.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.mt-5, .my-5 {
    margin-top: 3rem!important;
}

.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    -webkit-justify-content: center;
    justify-content: center!important;
}


.container {
    width: 100%;
    position: relative;
    word-wrap: break-word;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px){
.container {
    max-width: 540px;
}
}

@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}


.row {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

@media (min-width: 576px){
    .col-sm-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (min-width: 576px){
    .col-sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px){
    .col-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 992px){
    .col-lg-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

@media (min-width: 768px){
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.offset-2 {
    margin-left: 16.66667%;
}

@media (min-width: 576px){
    .offset-sm-1 {
        margin-left: 8.33333%;
    }
}

.form-group {
    margin-bottom: 1rem;
}

.form-control-label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-bottom: .357em;
    padding: 0;
}

.form-control, .form-control:focus {
    border: 1px solid #e8e8e8;
}
.form-control {
    background-color: #f5f5f5;
    box-shadow: none;
    color: #565656;
    font-size: 1rem;
    line-height: 1.43;
    min-height: 3.5em;
    padding: 1.07em .5em;
    display: block;
    width: 100%;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



/*Form specific styles*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type='number'] {
    -moz-appearance:textfield;
}

.product-form-section{
    align-items: center;    
    text-align: center;
}

.product-form-section p,
.product-form-section br{
    display:none;
}


.product-form-section p.vat-info,
.product-form-section p.anzahl,
.product-form-section p.showParagraph{
    display:block!important;
}



.product-wrapper{
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 5px;
}

.product-wrapper .row{
    background: #fff;
}


.single-product.row,
.product-heading{
    border: 1px solid #f6f6f6;
    border-bottom: none;
}

.single-product.row:last-of-type{
    border-bottom: 1px solid #f6f6f6;
}

.single-product h4{
    font-weight: 500;
}

/* .product-heading{
    padding: .75rem;
} */

.product-wrapper .row.product-heading .col-8,
.product-wrapper .row.product-heading .col-4{
    padding: 0;
}

.product-heading h3{
    margin: 0;
    padding: 1rem;
}


.product-wrapper .row.product-heading .col-4 p{
    margin: 0;
    line-height: 50px;
}

.single-product.row h4,
.single-product.row p{
    margin:0;
}

.product-wrapper .row .col-8{
    text-align: left;
    padding: 1rem;
}    

.product-wrapper .row .col-4{
    padding: 1rem;
    text-align: center;
}

.product-quantity input {
    width: 60px;
    text-align: center;
    margin: 0;
    border: 1px solid #ccc;
}

.quantity_increase,
.quantity_decrease{
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
}

.address-field input{
    margin-top: 10px;
}

.product-form-section .input-group-btn button.btn{
    padding: 10px 20px;
    border-radius: 0;
    margin: 0;
    background-color: #1e73be !important;
    border-color: #1e73be !important;
    color: #ffffff !important;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.product-form-section .input-group-btn button.btn:hover,
.product-form-section .input-group-btn button.btn:focus,
.product-form-section .input-group-btn button.btn:target{
    outline: none;
    box-shadow: none;
    color: #ffffff !important;
    background-color: #3f3f3f !important;
    border-color: #3f3f3f !important;
}

@media screen and (max-width: 991px){
    .input-group-btn button.btn{
        font-size: 1rem!important;
        padding: 1rem 1.5rem;
    }
}

@media screen and (max-width: 767px){
    .vat-info{
        font-size: .75em!important;
        margin-top: 5px!important;
    }

    .quantity_increase,
    .quantity_decrease{
        display: none;
    }

    .input-group-btn button.btn{
        padding: .8rem 1rem;
    }
}

@media screen and (max-width: 575px){
    .input-group-btn button.btn{
        margin-top: 20px;
    }
}

span.h4 {
    font-weight: 500;
}


div#vat-cell {
    font-weight: 500;
}


.terms-info{
    margin-top: 15px;
}

.cart-customer-details h2{
    font-weight: 500;
}

.cart-customer-details h3{
    color: #767676;
    line-height: 1.2;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cart-customer-details .form-row{
    margin-top: 30px;
}

.cart-customer-details .row{
    width: 100%;
    margin: auto;
}

.input-group-btn input.form-control {
    max-height: 60px;
    margin: .4rem .8rem;
    display: inline-block;
    max-width: 400px;
}

.product-summary-row{
    display: none;
}

.product-summary{
    color: #767676;
    display: none;
}

#total_amount span{
    font-size: 1.2rem;
}

.input-select {
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
display: inline-block;
}
.input-checkbox input,
.input-radio input,
.input-select input {
opacity: 0 !important;
height: 0 !important;
width: 0 !important;
position: absolute !important;
}
.input-checkbox label,
.input-radio label,
.input-select label {
display: block !important;
cursor: pointer;
}
.input-checkbox {
padding: 0;
}
.input-checkbox label {
width: 1.85714286em;
height: 1.85714286em;
border-radius: 6px;
background: #000;
}
.input-radio {
padding: 0;
}
.input-radio label {
width: 1.85714286em;
height: 1.85714286em;
border-radius: 50%;
background: #000;
}
.input-select {
position: relative;
width:100%;
}
.input-select i {
position: absolute;
top: 50%;
transform: translateY(-50%);
-webkit-transform: translateY(-50%);
right: 1em;
font-size: .87em;
}
.input-select {
position: relative;
}
.input-select select {
-moz-appearance: none;
-webkit-appearance: none;    
width: 100%;
height: 58px;
border: none;
background: #f5f5f5;
padding: 10px;
cursor: pointer;
}
.input-select select::-ms-expand {
display: none;
}
.input-select:not(:last-child) {
margin-bottom: 0.92857143em;
}
.input-select:after {
position: absolute;
right: 0;
height: 100%;
top: 0;
font-size: 30px;
content: '\2263';
pointer-events: none;
padding: 0 13px;
border-left: 1px solid #ececec;
line-height: 58px;
background: #f5f5f5;
}
.input-select.input-select--borderless:after {
border-left: none;
}
.input-select:focus:after {
border-color: #4a90e2;
}
.input-select select:focus {
border-color: #4a90e2;
}


/* homepage blog */
ul.display-posts-listing {
    list-style: none;
    margin: 40px 0 0 0;
}

@media screen and (min-width:650px){
    .display-posts-listing li.listing-item {
        display: inline-block;
        width: 46%;
        margin: 2%;
    }
    .display-posts-listing li.listing-item {
        min-height: 300px;
    }
}

.display-posts-listing li.listing-item a {
    color: #3a3a3a;
}

.display-posts-listing li.listing-item {
    margin-bottom: 30px;
    box-shadow: 1px 2px 6px 0px rgba(0,0,0,0.3);
    padding: 20px 15px;
    border-radius: 5px;
    vertical-align: top;
}
.display-posts-listing li.listing-item .title {
    margin: 10px 0;
}

.display-posts-listing li.listing-item a.read-more {
    font-size: 16px;
    font-weight: bold;
    -webkit-transition: all .2s;
    transition: all .2s;
    text-decoration: underline;
    text-transform: capitalize;
}

.display-posts-listing li.listing-item a+a {
    display: block;
}

.display-posts-listing li.listing-item .excerpt-dash {
    display: none;
}